body {
    font-family: 'Roboto Mono', monospace;
    margin-top: 150px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.texts {
    font-family: 'Roboto Mono', monospace;
}

.arrowImage{
    height:100%;
    width: 20px;
}

.bodyEncap{
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0px;
}

.navbar li{
    background: #f0f0a0;
    width:min-content;
    padding: 3px;
    margin: 2px;
    text-align: center;
    list-style-type: none;
    user-select: none;
    transition: all 0.3s ease;
}

.navbar li:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: #800;
}

.base-container{
    background: #f99;
    padding: 4px;
}

.converter-container {
    text-align: center;
}

.converter-container input {
    padding: 8px;
    margin: 5px;
}

.converter-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.converter-container button:hover {
    background-color: #e0e0e0;
}

.binary-table, .fractional-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin-top: 20px;
}

.binary-table th, .binary-table td, .fractional-table th, .fractional-table td {
    border: none;
    padding: 8px;
    text-align: center;
}

.binary-table th, .fractional-table th {
    background-color: #f0f0f0;
}

.binary-table tbody tr, .fractional-table tbody tr {
    background-color: #f0f0f0;
    transition: 0.3s ease-in-out;
}
.binary-table tbody tr:hover, .fractional-table tbody tr:hover {
    background-color: #fff;
    margin: 3;
    transform: scale(1.05);
}

.finalResult{
    background: #e0e0e0;
    width: fit-content;
    padding: 8px;
    margin: 8px;
    font-size: large;
    visibility: hidden;
}
caption {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left; /* Adjust alignment as needed */
    padding: 8px; /* Optional: add padding for spacing */
    /* Add any other styles you want for the caption */
}